---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Code de Conduite de Deep Learning IndabaX">
    <section id="programme" class="pt-28 relative z-10">
        <div class="container m-auto px-6 py-20 md:px-12 lg:px-20">
            <div class="m-auto text-center lg:w-7/12">
                <h2 class="mb-16 text-4xl font-bold text-white md:text-4xl lg:text-6xl">
                    Code de Conduite de Deep Learning IndabaX
                </h2>
            </div>
            <div class="relative pb-12 lg:w-7/12 mx-auto">
               <p class="text-white text-lg mb-8">
                   À Deep Learning IndabaX, nous nous engageons à fournir un environnement sûr, inclusif et respectueux pour tous les participants. Nous croyons que la diversité, l'inclusion et le respect mutuel sont essentiels pour favoriser la créativité, la collaboration et l'innovation dans le domaine de l'intelligence artificielle.
               </p>

                <h2 class="text-xl font-bold text-white md:text-xl lg:text-xl">
                    1. Comportement Respectueux
                </h2>
               <p class="mb-4 text-white text-lg">
                   Tous les participants, conférenciers, sponsors et bénévoles sont priés de se traiter mutuellement avec respect et gentillesse. Le harcèlement, la discrimination ou l'intimidation sous quelque forme que ce soit ne seront pas tolérés.
               </p>

                <h2 class="text-xl font-bold text-white md:text-xl lg:text-xl">
                    2. Inclusivité
                </h2>
                <p class="mb-4 text-white text-lg">
                    Nous accueillons les individus de tous horizons, indépendamment de la race, de l'origine ethnique, de la nationalité, du genre, de l'identité de genre, de l'orientation sexuelle, de l'âge, de l'aptitude, de la religion ou du statut socio-économique. Chacun a des contributions précieuses à apporter, et les perspectives diverses enrichissent notre communauté.
                </p>

                <h2 class="text-xl font-bold text-white md:text-xl lg:text-xl">
                    3. Professionnalisme
                </h2>
                <p class="mb-4 text-white text-lg">
                    Les participants sont priés de se comporter de manière professionnelle en tout temps, que ce soit en interagissant avec d'autres participants, en participant à des discussions ou en représentant leur organisation. Un comportement perturbateur ou inapproprié ne sera pas toléré.
                </p>

                <h2 class="text-xl font-bold text-white md:text-xl lg:text-xl">
                    4. Absence de la Presse
                </h2>
                <p class="mb-4 text-white text-lg">
                    Pour respecter la vie privée et le confort de nos participants, nous demandons aux membres de la presse de ne pas assister à l'événement. Cela garantit que les participants peuvent s'engager librement dans les discussions et les activités sans craindre la couverture médiatique.
                </p>

                <h2 class="text-xl font-bold text-white md:text-xl lg:text-xl">
                    5. Pas d'Enregistrement des Présentations
                </h2>
                <p class="mb-4 text-white text-lg">
                    Pour encourager un dialogue ouvert et franc, nous préférons que les présentations et les discussions ne soient pas enregistrées. Cela permet aux conférenciers de partager leurs idées sans craindre que leurs mots ne soient sortis de leur contexte ou partagés sans consentement.
                </p>


                <h2 class="text-xl font-bold text-white md:text-xl lg:text-xl">
                    6. Signalement des Violations
                </h2>
                <p class="mb-4 text-white text-lg">
                    Si vous constatez ou êtes témoin de tout comportement qui enfreint ce code de conduite, veuillez le signaler immédiatement à un membre de l'équipe d'organisation de l'événement. Nous prenons tous les signalements au sérieux et prendrons les mesures appropriées pour traiter toute préoccupation.
                </p>


                <p class="mb-4 text-white text-lg">
                    En participant à Deep Learning IndabaX, vous acceptez de respecter ce code de conduite et de contribuer à créer un environnement positif et accueillant pour tous les participants.
                </p>
            </div>
        </div>
    </section>
</Layout>
