---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Pricing from '../components/Pricing';
import Speakers from '../components/Speakers';
import Organizers from '../components/Organizers';
import Features from "../components/Features";
import event from '../data/event';
---
<Layout title="Deep Learning Indabax DRC">
	<Hero />
	<section class="pt-28 z-10">
        <div class="relative max-w-7xl mx-auto px-8 md:px-12 lg:px-6">
            <div class="mb-16 mx-auto lg:w-3/5 text-center">
                <h2 class="mb-4 text-4xl font-bold text-white md:text-4xl lg:text-6xl">
                    Conférence sur le Deep Learning et l'IA
                </h2>
                <p class="text-primary font-bold text-2xl mb-8">{event.description}</p>
                <p class="text-white text-lg">
                    IndabaX DR Congo s’inscrit dans la ligne de conférences internationales nommées Deep learning Indaba et
                    qui se déroulent chaque année dans différents pays d’Afrique.
                    L’objectif est de rassembler la communauté congolaise des praticiens, chercheurs, étudiants, professionnels et passionnés du domaine de l’intelligence artificielle,
                    en particulier l'apprentissage automatique (Machine Learning) et en profond (Deep Learning).
                </p>
            </div>
            <Features />
        </div>
    </section>

    <Speakers />
    <Pricing />
	<Organizers />
</Layout>
